[build]
  base = "client"
  command = "npm run build"
  publish = "build"

[build.environment]
  REACT_APP_API_URL = "https://api.kabya.com/api"

[[redirects]]
  from = "/api/*"
  to = "https://api.kabya.com/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
